<th:block th:fragment="footer">
	<footer>
		<div class="footer_box">
			<div class="detail">
				<p>대표 : 김수빈, 동현우, 박원희, 배종민, 주재훈 </p>
				<p>주소 : 서울특별시 강남구 테헤란로 71-1 남도빌딩 6층</p>
				<p>전화 : 1588-1111 | 이메일 : kh123@adoptme.com</p>
			</div>
			<div class="f_icon">
				<a href="#"><img th:src="@{/board/images/blog.png}" alt=""></a>
				<a href="#"><img th:src="@{/board/images/youtube.png}" alt=""></a>
				<a href="#"><img th:src="@{/board/images/insta.png}" alt=""></a>
				<a href="#"><img th:src="@{/board/images/face.png}" alt=""></a>
			</div>
			<div class="f_last">
				<a href="#">이용약관</a>
				<a href="#">개인정보처리방침</a>
				<a href="#">사업자정보확인</a>
				<span>&copy; AdoptMe</span>
			</div>
		</div>
	</footer>
</th:block>